body {
    font-weight: bold;
}

a {
    text-decoration-line: none;
}

a:hover { color:mediumaquamarine; text-decoration-line: underline; }

.header1 {
    display: flex;
    align-items: center;
    background-color: mediumaquamarine;
    height: 40px;

}

.header {
    display: flex;
    align-items: center;
    background-color: mediumaquamarine;
    height: 40px;
    position: sticky;
    top: 0; /* 화면 상단에 고정 */

}


.img-preview {
    display: flex;
    overflow-x: auto; /*가로 스크롤바*/
    height: 450px;
    align-items: center;
}

.img-preview img {
    width: 300px;
    height: 400px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.img-france {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    align-items: center;
    justify-content: space-around;
}

.img-france img {
    width: 17%;
    height: 47%;
    margin-left: 5px;
    margin-right: 5px;
}

.img-portugal {
    display: flex;
    height: 450px;
    margin: 0 auto;
    justify-content: center;

}

.img-portugal-main {
    width:350px;
    height: 450px;
    margin-left: 10px;
}

.img-portugal-main img {
    width: 100%; /* 이미지가 부모의 100% 가로 너비를 사용하도록 설정 */
    height: 100%; /* 이미지의 세로 비율을 유지하도록 설정 */
    margin-top: 10px;

}

.img-portugal-sub {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.img-portugal-sub img {
    width: 45%; /* 이미지가 부모의 100% 가로 너비를 사용하도록 설정 */
    height: 47%; /* 이미지의 세로 비율을 유지하도록 설정 */
    margin: 0 auto;
    align-items: center; /*세로 중앙 정렬*/
}

.img-spain  {
    display: flex;
    flex-direction: column;
    height: 700px;
   
  }
  
  .top-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 윗줄의 왼쪽과 오른쪽 부분을 1:2 비율로 */
    height: 50%;
  }

  .top-row img {
    width: 100%;
    height: 100%;

  }

  .top-left {
    display: flex;
    flex-direction:column;
    overflow:hidden; /*사이즈 벗어나면 잘리게*/
  }

  .top-left img {
    width:100%;
    height:50%;

  }
  
  .bottom-row {
    display: grid;
    grid-template-columns: 7fr 3fr; /* 밑줄의 왼쪽과 오른쪽 부분을 7:3 비율로 */
    height: 50%;
    overflow:hidden;
  }
  
  .bottom-row img {
    width: 100%;
    height: 100%;
  }

  footer {
    align-items: center;
    background-color: mediumaquamarine;
    height: 40px;
    line-height: 40px;

}

.top-button {
    position:fixed;
    bottom:5px;
    right:15px;
    font-size: 40px;
}
  