html {
  scroll-behavior: smooth;
}

body {
  font-weight: bold;
  background-color: #ecffdc;
  margin: 0;
}

a {
  text-decoration-line: none;
}

a:hover {
  color: mediumaquamarine;
  text-decoration-line: underline;
}

ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 1rem;
  list-style: none;
}

li {
  padding: 0 0.5rem;
}

.main-title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: mediumaquamarine;
  height: 3rem;
}

.country {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: mediumaquamarine;
  height: 3rem;
  position: sticky;
  width: 100%;
  top: 0; /* 화면 상단에 고정 */
}

.img-preview {
  display: flex;
  overflow-x: auto; /*가로 스크롤바*/
  /* width: 90%; */
  margin: 0 2rem;
  height: 28rem;
  align-items: center;
  position: relative;
}

/* ::-webkit-scrollbar {
  width: 1rem;
}

.img-preview::-webkit-scrollbar-thumb {
  background-color: mediumaquamarine;
  border-radius: 3rem;
} */

.img-preview img {
  width: 20rem;
  height: 25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* .img-preview ul {
  width: 90%;
} */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 7rem;
}

.img-france {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3.5rem;
  gap: 1rem;
  height: auto;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.each {
  position: relative; /*필요 */
  width: 14rem;
  height: 14rem;
  flex-grow: 1;
  text-align: center;
  object-fit: cover;
}

.img-france img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 1px solid red;
  text-align: center;
  color: #ffffff;
}

.hover-text p {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.img-france .each:hover,
.img-portugal-main img:hover,
.img-portugal-sub img:hover {
  transition: all 0.3s;
  transform: translateY(-0.5rem);
  filter: brightness(50%);
}

.img-portugal {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
}

.img-portugal-main {
  display: flex;
  flex-wrap: wrap;
  width: 29rem;
  height: 41rem;
  flex-grow: 1;
}

.img-portugal-main img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.img-portugal-sub {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 0.5rem;
  justify-content: center;
  width: 29rem;
  padding-bottom: 0;
}

.img-portugal-sub div {
  width: 12rem;
  height: 20rem;
  flex-grow: 1;
  margin: 0 auto;
  align-items: center; /*세로 중앙 정렬*/
}

.img-portugal-sub img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  object-fit: cover;
}

.img-spain {
  display: grid;
  padding: 1rem 4rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  grid-template-areas:
    "a a a b b b"
    "c c c b b b"
    "d d d d e e"
    "d d d d e e";
  height: 44rem;
}

.img-spain img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pic-a {
  grid-area: a;
}

.pic-b {
  grid-area: b;
}

.pic-c {
  grid-area: c;
}

.pic-d {
  grid-area: d;
}

.pic-e {
  grid-area: e;
}

footer {
  align-items: center;
  background-color: mediumaquamarine;
  height: 3rem;
  line-height: 3rem;
}

.top-button {
  position: fixed;
  bottom: 0.3rem;
  right: 1rem;
  font-size: 2.5rem;
}

.more-button {
  border: 1px solid black;
  cursor: pointer;
}

footer {
  padding-left: 1rem;
}

.scroll-left {
  position: sticky;
  display: flex;
  align-items: center;
  left: 0;
  height: 28rem;
  font-size: 3rem;
  font-weight: bold;
  color: mediumaquamarine;
  cursor: pointer;
}

.scroll-right {
  position: sticky;
  display: flex;
  align-items: center;
  right: 0;
  height: 28rem;
  font-size: 3rem;
  font-weight: bold;
  color: mediumaquamarine;
  cursor: pointer;
}
